.container {    
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) and (max-width: 767px) {
        width: 450px;
        align-items: center;
    }
    
    @media screen and (min-width: 768px) and (max-width: 1199px){
        width: 738px;
        align-items: center;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
        padding-right: 15px;
        padding-left: 15px;
    }

    &--flex {
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }
    }
}