.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;

    background-color: #2F303A;

    &--flex {
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__box--one {
        @media screen and (min-width: 480px) and (max-width: 767px) {
            text-align: center;
            padding-bottom: 60px;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            text-align: center;
            padding-right: 165px;
            padding-bottom: 60px;
            padding-left: 76px;
        }
    }

    &__box--two {
        @media screen and (min-width: 480px) and (max-width: 767px) {
            padding-bottom: 60px;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            text-align: center;
            padding-bottom: 102px;
        }

        @media screen and (min-width: 1200px) {
            padding-left: 70px;
            padding-top: 12px;
        }
    }

    &__box--three {

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin: 0 auto;
        }

        @media screen and (min-width: 1200px) {
            padding-top: 12px;
            padding-left: 93px;
        }
    }

    &--title {
        padding-bottom: 20px;
        margin: 0 auto;
    
        color: #fff;
    }
}