.heading {
    margin: 0 auto;
    padding-bottom: 30px;

    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--brand-color);
}