.header {
    border-bottom: 1px solid #ECECEC;

    &--flex {
        @media screen and (max-width: 767px) {
            display: flex;
            justify-content: space-between;
        }

        @media screen and (min-width: 768px) {
            display: flex;
            
        }
    }
}