.section {
    
    @media screen and (min-width: 480px) and (max-width: 767px) {
        padding: 60px 0;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding: 60px 0;
    }

    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }

    &--bottom {
        @media screen and (min-width: 480px) and (max-width: 767px) {
            padding: 60px 0;
        }
        
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            padding: 60px 0;
        }
        
        @media screen and (min-width: 1200px) {
            padding-top: 94px;
        }
        
    }
    
    &__heading {
        @media screen and (max-width: 1199px) {
            display: none;
        }
    }

    &__background {
        background-color: #F5F4FA;
    }
}